<ion-view>
    <ion-nav-bar clas="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-clear" ng-click="cancel()">Cancel</button>
        </ion-nav-buttons>
        <ion-nav-title>
            {{ selectedMeal.item }}
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-clear" ng-click="save()">Save</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="card">
            <div class="row">
                <div class="col">
                    <strong>Amount:</strong>
                </div>
                <div class="col">{{ selectedAmount }}</div>
            </div>
            <div class="item range">
                <i class="icon ion-ios-speedometer-outline"></i>
                <input type="range" name="amount" ng-model="selectedAmount" min="0" max="700">
            </div>
        </div>
    </ion-content>
</ion-view>
